USE [master]
GO
/****** Object:  Database [QLYSINHVIEN]    Script Date: 1/3/2024 9:19:58 AM ******/
CREATE DATABASE [QLYSINHVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLYSINHVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NGOCHAN\MSSQL\DATA\QLYSINHVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLYSINHVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NGOCHAN\MSSQL\DATA\QLYSINHVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLYSINHVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLYSINHVIEN]
GO
/****** Object:  Table [dbo].[giangvien]    Script Date: 1/3/2024 9:19:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giangvien](
	[MaSV] [nvarchar](50) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SDT] [nvarchar](12) NULL,
	[Gioitinh] [nvarchar](50) NULL,
	[Toan] [float] NULL,
	[Van] [float] NULL,
	[Anhvan] [float] NULL,
 CONSTRAINT [PK_giangvien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinhvien]    Script Date: 1/3/2024 9:19:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhvien](
	[MaSV] [nvarchar](50) NULL,
	[Hoten] [nvarchar](50) NULL,
	[Toan] [float] NULL,
	[Van] [float] NULL,
	[Anhvan] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 1/3/2024 9:19:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[MaSV] [nvarchar](50) NULL,
	[Hoten] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SoDT] [nvarchar](12) NULL,
	[Gioitinh] [bit] NULL,
	[Diachi] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 1/3/2024 9:19:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[MaSV] [nvarchar](50) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SoDT] [nvarchar](12) NULL,
	[Gioitinh] [bit] NULL,
	[Diachi] [nvarchar](50) NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[giangvien] ([MaSV], [Hoten], [Email], [SDT], [Gioitinh], [Toan], [Van], [Anhvan]) VALUES (N'001', N'Nguyễn Văn A', N'anv@gmail.com', N'0123456789', N'1', 7, 7, 7)
INSERT [dbo].[giangvien] ([MaSV], [Hoten], [Email], [SDT], [Gioitinh], [Toan], [Van], [Anhvan]) VALUES (N'002', N'Trần Thị B', N'btt@gmail.com', N'0123456789', N'0', 8, 8, 9)
INSERT [dbo].[giangvien] ([MaSV], [Hoten], [Email], [SDT], [Gioitinh], [Toan], [Van], [Anhvan]) VALUES (N'003', N'Nguyễn Văn A', N'anv@gmail.com', N'0123456789', N'1', 7, 7, 7)
GO
INSERT [dbo].[sinhvien] ([MaSV], [Hoten], [Toan], [Van], [Anhvan]) VALUES (N'001', N'Nguyễn Văn A', 7, 7, 7)
INSERT [dbo].[sinhvien] ([MaSV], [Hoten], [Toan], [Van], [Anhvan]) VALUES (N'002', N'Trần Thị B', 8, 8, 9)
GO
INSERT [dbo].[STUDENT] ([MaSV], [Hoten], [Email], [SoDT], [Gioitinh], [Diachi]) VALUES (N'SV01', N'nguyen van a', N'vana@gmail.com', N'0123456789', 1, N'tp hcm')
GO
INSERT [dbo].[STUDENTS] ([MaSV], [Hoten], [Email], [SoDT], [Gioitinh], [Diachi]) VALUES (N'SV01', N'NGUYEN VAN A ', N'ANV@GMAIL.COM', N'0123456789', 1, N'TP HCM')
INSERT [dbo].[STUDENTS] ([MaSV], [Hoten], [Email], [SoDT], [Gioitinh], [Diachi]) VALUES (N'SV02', N'TRAN THI B ', N'BTT@GMAIL.COM', N'0123456789', 0, N'TP HCM')
INSERT [dbo].[STUDENTS] ([MaSV], [Hoten], [Email], [SoDT], [Gioitinh], [Diachi]) VALUES (N'SV03', N'DUONG NGOC C', N'CDN@GMAIL.COM', N'0123456789', 0, N'TP HCM')
GO
ALTER TABLE [dbo].[sinhvien]  WITH CHECK ADD  CONSTRAINT [FK_sinhvien_giangvien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[giangvien] ([MaSV])
GO
ALTER TABLE [dbo].[sinhvien] CHECK CONSTRAINT [FK_sinhvien_giangvien]
GO
USE [master]
GO
